@import '../base/index';

.boxCaseSliderItems {
    display: flex;
}
.caseSliderItems {
    margin: 0 auto;
}
.caseSliderItems__item {
    max-width: 550px;
    max-height: 383px;
    display: none;
    @media (max-width: 590px) {
        width: 400px;
    }
    @media (max-width: 450px) {
        width: 300px;
    }
}
.itemActive {
    display: block;
}
.caseSliderItems__item-3 {
    transform: translateY(-50px);
    @media (max-width: 1250px) {
        transform: translateY(0px);
    }
    @media (max-width: 500px) {
        width: auto;
    }
}

.caseSliderCtrls-right {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 105px;
    align-self: center;
    .caseSliderItemCtrl {
        width: 3px;
        height: 25px;
        background-color: #fff;
        opacity: .2;
        cursor: pointer;
        transition: $transition;
        &:hover {
            background-color: $bgColorRed;
            opacity: 1;
        }
    }
    .caseSliderItemCtrl-active {
        opacity: 1;
    }
}

.caseSliderCtrls-bottom {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0;
    max-width: 220px;
    transform: translateX(-25%);
}

.bottomTabs {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    max-height: 47px;
    overflow: hidden;
    img {
        display: block;
    }
}

.icoActive {
    position: absolute;
    top: 0;
}

.barPosition-1 {
    transform: translate(-23%, -60px);
}

@media (max-width: 1250px) {
    .boxCaseSliderItems {
        flex-direction: column;
    }
    .caseSliderCtrls-right {
        margin-left: 0;
        flex-direction: row;
        width: 130px;
        .caseSliderItemCtrl {
            margin-top: 50px;
            margin-bottom: 50px;
            width: 25px;
            height: 3px;
        }
    }
    .caseSliderCtrls-bottom  {
        transform: translateX(0);
        margin: 0 auto;
    }
    .barPosition-1 {
        transform: translate(0, 0);
    }
}