@import '../base/index';

.boxCaseSliderItems {
    display: flex;
}
.caseSliderItems {
    margin: 0 auto;
}
.caseSliderItems__item {
    max-width: 550px;
    max-height: 383px;
    display: none;
}
.itemActive {
    display: block;
}
.caseSliderItems__item-3 {
    transform: translateY(-50px);
}

.caseSliderCtrls-right {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 105px;
    align-self: center;
    .caseSliderItemCtrl {
        width: 3px;
        height: 25px;
        background-color: #fff;
        opacity: .2;
        cursor: pointer;
        &:hover {
            background-color: #000;
        }
    }
    .caseSliderItemCtrl-active {
        opacity: 1;
    }
}

.caseSliderCtrls-bottom {
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0;
    max-width: 220px;
    transform: translateX(-25%);
}

.bottomTabs {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    max-height: 46px;
    overflow: hidden;
    img {
        display: block;
    }
}

.icoActive {
    position: absolute;
    top: 0;
}

.barPosition-1 {
    transform: translate(-23%, -60px);
}