@import '../base/index';
@import '../vendors/mixins.scss';

.wrapperPrimeContentHeader {
    height: 85vh;
    display: flex;
    align-items: center;
    .primeContentHeader {
        max-width: 600px;
        &__text {
            font-family: 'ProximaNova';
            font-size: 17px;
            line-height: 24px;
            color: $headerTextColor;
            width: 540px;
            &::after {
                @include line(#fff, 15px, 40px);
            }
            @media (max-width: 590px) {
                max-width: 400px;
                padding: 10px;
                text-align: center;
                margin: 0 auto;
            }
            @media (max-width: 450px) {
                width: 300px;
                font-size: 15px;
            }
        }
        &__btn {
            @include btn();
            @media (max-width: 450px) {
                margin-bottom: 20px;
            }
        }
        @media (max-width: 750px) {
            margin: 0 auto;
            text-align: center;
            &__text {
                &::after {
                    margin: 15px auto 40px auto;
                }
            }
        }
        @media (max-width: 450px) {
            width: 300px;
            &__text {
                &::after {
                    margin: 15px auto 0px auto;
                }
            }
        }
    }
}