@import '../vendors/mixins.scss';
@import '../base/vars.scss';

.sectionWorks {
    width: 100%;
    padding-top: 121px;
    padding-bottom: 150px;
    @media (min-width: 1200px) {
        width: 151%;
    }
}
.wrapWorksColumns {
    display: flex;
    .worksColumn-left {
        flex-basis: 50%;
        .worksColumn__title {
            &::after {
                @include line(#000, 30px);
                margin-left: 4px;
            }
        }
    }
    .worksColumn-right {
        flex-basis: 50%;
        .worksColumn__text {
            color: $primeTextColor;
            width: 400px;
            line-height: 26px;
            padding-top: 3px;
        }
    }
}
.worksColumn__title {
    @include title($primeTitleColor, uppercase)
}