@import '../vendors/mixins.scss';
@import '../base/vars.scss';

.sectionWorks {
    width: 100%;
    padding-top: 121px;
    padding-bottom: 150px;
    @media (max-width: 800px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media (max-width: 590px) {
        text-align: center;
        margin: 0 auto;
        padding: 50px 10px 60px 10px;
    }
}
.wrapWorksColumns {
    display: flex;
    .worksColumn-left {
        flex-basis: 50%;
        .worksColumn__title {
            &::after {
                @include line(#000, 30px);
                margin-left: 4px;
                @media (max-width: 750px) {
                    margin: 40px auto;
                }
            }
        }
    }
    .worksColumn-right {
        flex-basis: 50%;
        .worksColumn__text {
            color: $primeTextColor;
            max-width: 400px;
            line-height: 26px;
            padding: 3px;
            @media (max-width: 750px) {
                text-align: center;
            }
            @media (max-width: 450px) {
                width: 300px;
                font-size: 14px;
            }
        }
    }
    @media (max-width: 750px) {
        flex-direction: column;
        align-items: center;
    }
}
.worksColumn__title {
    @include title($primeTitleColor, uppercase)
}