@import '../vendors/mixins.scss';
@import '../base/index';
.sectionOurDescr {
    padding-top: 120px;
    padding-bottom: 45px;
    .ourDescrHeader {
        display: flex;
        flex-direction: row;
        &__title {
            text-transform: uppercase;
            &::after {
                @include line(#000, 30px, 120px);
            }
        }
        &__text {
            font-family: $primeTextFont;
            font-size: 18px;
            line-height: 26px;
            color: $primeTextColor;
            width: 435px;
            margin: 0 auto;
        }
    }
}