@import '../base/index';
@import '../vendors/mixins.scss';
.sectionServices {
    width: 100%;
    background-color: $secondaryBgColor;
    padding-top: 150px;
    padding-bottom: 160px;
    .servicesContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        &__column-left {
            height: 270px;
            @media (max-width: 1200px) {
                margin-top: 0;
                max-width: 900px;
            }
            @media (max-width: 590px) {
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 90px;
            }
        }
        &__title{
            &::after {
                @include line(#000, 29px, 56px)
            }
        }
        &__text {
            font-family: $primeTextFont;
            font-size: 18px;
            line-height: 26px;
            color: $primeTextColor;
            @media (max-width: 1250px) {
                width: 80%;
            }
            @media (max-width: 590px) {
                max-width: 400px;
                padding: 10px;
                margin: 0 auto;
                text-align: center;
            }
            @media (max-width: 450px) {
                width: 300px;
                font-size: 14px;
            }
        }
        @media (max-width: 1250px) {
            align-items: flex-start;
        }
        @media (max-width: 750px) {
            &__column-left {
                text-align: center;
            }
            &__title {
                &::after {
                    margin: 25px auto 40px auto;
                }
            }
            &__text {
                margin: 0 auto;
            }
        }
        @media (max-width: 650px) {
            &__column-right {
                margin: 0 auto;
            }
        }
    }
    @media (max-width: 800px) {
        padding-left: 10px;
        padding-right: 10px;
    }
    @media (max-width: 650px) {
        padding-bottom: 100px;
    }
    @media (max-width: 590px) {
        padding-top: 50px;
    }
    @media (max-width: 450px) {
        padding-bottom: 20px;
    }
}
