@import '../base/index';

footer {
    width: 100%;
    height: 152px;
    background-color: $primeBgColor;
    .footerItems {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__item {
            .footerLink {
                font-family: $primeTextFont;
                font-size: 13px;
                color: #76767b;
            }
        }
    }
}