@font-face {
    font-family: 'ProximaNova';
    src: url('../../assets/fonts/ProximaNovaWebfont/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-RegularIt.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-BoldIt.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-LightIt.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-Extrabld.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-ExtrabldIt.ttf) format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-Semibold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'ProximaNova';
    src: url(../../assets/fonts/ProximaNovaWebfont/ProximaNova-SemiboldIt.ttf) format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url(../../assets/fonts/gotham-rounded/GothamRoundedLight_21020.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

