$primeBgColor: #28282e;
$secondaryBgColor: #f6f6f6;
$bgColorRed: #ef4035;
//h1-h6
$primeTitleColor: #333333;
$secondaryTitleColor: #fff;
//p
$primeTextColor: #888888;
$secondaryTextColor: #fff;
//span
$textColorRed: #ef443a;

$lineBlack: #000;
$lineWhite: #fff;