$primeBgColor: #28282e;
$secondaryBgColor: #f6f6f6;
$bgColorRed: #ef4035;
//h1-h6
$primeTitleColor: #333333;
$secondaryTitleColor: #fff;
$fontTitle: 'Open Sans', sans-serif;
//p
$primeTextColor: #888888;
$secondaryTextColor: #fff;
$primeTextFont: "ProximaNova";
//span
$textColorRed: #ef443a;
$secondaryFontText: 'Merriweather', serif;


$lineBlack: #000;
$lineWhite: #fff;